<div class="container">
  <div class="situation-dangerous-toolbar">
    <mat-toolbar class="toolbar">
      <img src="../../../../assets/icons/return.svg" alt="" routerLink="/menu">
      <p>Dangerous situation</p>
    </mat-toolbar>
  </div>
  <div class="situation-dangerous-content">
    <div class="situation-dangerous-content-title">
      <img src="../../../../assets/icons/dangerousSituation/dangerousSituation.svg" alt="">
      <span>Report</span>
    </div>
    <div class="situation-dangerous-content-form">
      <mat-form-field class="situation-dangerous-content-form-field1">
        <mat-select class="situation-dangerous-content-form-select">
          <mat-option *ngFor="let types of TypeSelectElements">{{types.type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <label>
        <textarea matInput  rows="7" class="situation-dangerous-content-form-input" placeholder=" short comment "></textarea>
      </label>
      <button mat-raised-button class="situation-dangerous-content-form-valid">
        <img src="../../../../assets/icons/dangerousSituation/camera.svg" alt="">
        <span>Add a photo</span>
      </button>
    </div>
  </div>

  <div>
    <button mat-raised-button class="situation-dangerous-content-valid" routerLink="/home">Submit</button>
  </div>

</div>

