<div class="menu-bar bg-primary justify-content-between">
  <div class="d-flex align-items-center">
    <a class="menu-icon" routerLink="/menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
        <path fill="#FFF" fill-rule="evenodd" d="M0 12h18v-2H0v2zm0-5h18V5H0v2zm0-7v2h18V0H0z"></path>
      </svg>
    </a>
    <span>Historique des visites</span>
  </div>
  <div>
    <a routerLink="/dangerous" class="circle-white-icon shadow-01 bg-warning mr-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="10 10 40 40">
        <g fill="none" fill-rule="evenodd">
          <path fill="#FFF" d="M30.714 31.784c0 .45-.32.816-.714.816-.395 0-.714-.365-.714-.816 0-.45.32-.816.714-.816.395 0 .714.365.714.816zm-.251-2.415c-.019.29-.223.511-.463.511-.012 0-.024 0-.036-.002-.229-.02-.41-.237-.428-.51l-.25-4.029c-.02-.47.282-.872.676-.898a.623.623 0 0 1 .04-.001c.366 0 .676.333.71.773.003.042.003.084 0 .126l-.25 4.03z"></path>
          <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M30 18.417L40.338 35.64H19.662L30 18.417z"></path>
        </g>
      </svg>
    </a>
  </div>
</div>
<div class="container mb-90">
  <div class="row">
    <div class="total">
        <strong>{{historyNum}}</strong> contrôle(s) trouvé(s)
    </div>
    <div class="card card-full-width mb-10 shadow-none" routerLink="/history/detail">
      <div class="card-body px-30">
        <div class="row align-items-center light-grey mb-20">
            <div class="col-6 font-demiBold">Qualité</div>
            <div class="col-6 text-right font-12">12/05/2019</div>
        </div>
        <div class="row align-items-end mb-2">
            <div class="col-6 font-demiBold font-14">
              23 Boulevard Charner<br>
              22000 Saint-Brieuc
            </div>
            <div class="col-6 text-right text-danger font-weight-bold font-14">En cours</div>
        </div>
      </div>
    </div>
    <div class="card card-full-width mb-10 shadow-none">
        <div class="card-body px-30">
          <div class="row align-items-center light-grey mb-20">
              <div class="col-6 font-demiBold">Qualité</div>
              <div class="col-6 text-right font-12">12/05/2019</div>
          </div>
          <div class="row align-items-end mb-2">
              <div class="col-6 font-demiBold font-14">
                23 Boulevard Charner<br>
                22000 Saint-Brieuc
              </div>
              <div class="col-6 text-right text-success font-weight-bold font-14">En cours</div>
          </div>
        </div>
      </div>
  </div>
</div>

