<div class="container">
  <div class="row mb-50">
    <div class="card card-full-width">
      <div class="card-body">
        <h5 class="card-title font-14 text-uppercase light-grey">May 2019</h5>
        <p class="card-text font-14">
          A la Bridoire, la SADE consruira. pour la communauté de communes du Lac d'Aiguebelette, une station d'épuration intercommunale d'eaux usées(10 000 EH extensible à 12 000 EH)
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="(user$|async)?.countRemainingActions > 0" class="card card-block mb-30">
    <div class="card-body text-center text-info">
      <span class="font-30 font-weight-bold mr-2">
        <strong>{{(user$|async)?.countRemainingActions}}</strong>
      </span>
      <span class="font-25">
        <span [ngPlural]="(user$|async)?.countRemainingActions">
          <ng-template ngPluralCase="=1">action</ng-template>
          <ng-template ngPluralCase="other">actions</ng-template>
        </span>
        à traiter
      </span>
    </div>
  </div>

  <div class="row text-center mb-30">
    <div class="col-6 ">
      <div class="welcome-visit-card mb-2">
        <span class="circle-white">
          <strong>{{(user$|async)?.countCurrentMonthVisits || 0}}</strong>
        </span>
      </div>
      <span class="font-18"> ce mois-ci</span>
    </div>
    <div class="col-6">
      <div class="welcome-visit-card mb-2">
        <span class="circle-white">
          <strong>{{(user$|async)?.countLastMonthVisits || 0}}</strong>
        </span>
      </div>
      <span class="light-font font-18"> le mois dernier</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <button class="btn btn-info w-100 mb-4 mb-md-0 d-flex align-items-center justify-content-center" routerLink="/visit">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="29" viewBox="0 0 23 29">
          <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round">
              <path d="M6.875 6H5v18h15V6h-1.875M8.75 10.5h7.5M8.75 15h7.5m-7.5 4.5h7.5"></path>
              <path d="M17.087 3h4.996c.507 0 .917.415.917.926v23.148c0 .511-.41.926-.917.926H1.917A.921.921 0 0 1 1 27.074V3.926C1 3.415 1.41 3 1.917 3h4.995"></path>
              <path d="M15.5 2.002h-1.05a2.499 2.499 0 0 0-4.897 0h-1.05A2.348 2.348 0 0 0 6.006 4.5V6h11.993V4.5a2.4 2.4 0 0 0-2.499-2.498z"></path>
          </g>
        </svg>
        <span class="ml-2">Nouvelle visite</span>
      </button>
    </div>
    <div class="col-12 col-md-6">
      <button class="btn btn-warning w-100 d-flex align-items-center justify-content-center" routerLink="/dangerous">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" viewBox="0 0 28 25">
          <g fill="none" fill-rule="evenodd">
              <path fill="#FFF" d="M15 18.8c0 .663-.448 1.2-1 1.2s-1-.537-1-1.2c0-.663.448-1.2 1-1.2s1 .537 1 1.2zm-.352-3.552c-.026.427-.311.752-.648.752-.017 0-.034 0-.05-.002-.32-.032-.574-.35-.599-.75l-.35-5.926c-.03-.691.394-1.283.946-1.32A.831.831 0 0 1 14.002 8c.513 0 .947.49.995 1.137.004.062.004.124 0 .185l-.35 5.926z"></path>
              <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14-.016L27.723 24H.277L14-.016z"></path>
          </g>
        </svg>
        <span class="ml-2">Situation dangereuse</span>
      </button>
    </div>
  </div>
</div>




