<div class="card card-full-width mb-10 shadow-none">
  <div class="card-body px-30">
    <div class="row align-items-center light-grey mb-20">
      <div class="col-6 font-demiBold">{{categoryTitle ? categoryTitle : (getDangerousType$ | async)}}</div>
<!--      <div class="col-6 text-right font-12">{{result?.resultDate| amParse:'YYYY-MM-DD' | amDateFormat:'DD/MM/YYYY'}}</div>-->
      <div class="col-6 text-right font-12">{{correctionDate}}</div>
    </div>
    <div *ngIf="isDesktop" class="row light-grey font-14">
      <div class="col-6 font-demiBold">{{userName}}</div>
    </div>
    <div class="row align-items-end mb-2">
      <div class="col-6 font-demiBold font-14">
         {{result ? result.resultPlace : ''}}
      </div>
    </div>
  </div>
</div>
