<div class="container mb-90">
  <div *ngIf="(correction$|async) === null || loading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <form [formGroup]="searchForm" *ngIf="isDesktop">
    <div class="card card-full-width mb-10 shadow-none mp-15">
      <div class="card-body px-30">
        <div class="row align-items-center light-grey mb-20">
          <div class="col-6 font-demiBold">{{'Atraiter.Filtres de recherche'|translate}}</div>
        </div>
        <hr/>
        <div class="row align-items-center light-grey mb-20">
          <div class="col-6 font-demiBold">{{'Atraiter.Date début'|translate}} :
            <input type="text" bsDatepicker class="form-control" style="border: solid 1px lightgrey" formControlName="startDate">
          </div>
          <div class="col-6 font-demiBold">{{'Atraiter.Date fin'|translate}} :
            <input type="text" bsDatepicker class="form-control" style="border: solid 1px lightgrey" formControlName="endDate">
          </div>
        </div>
        <div class="row align-items-center light-grey mb-20">
          <div class="col-6 font-demiBold">{{'Atraiter.Statut'|translate}} :
            <select class="form-control" style="border: solid 1px lightgrey" formControlName="status">
              <option style='display: none' value=''></option>
              <option value="A traiter">A traiter</option>
              <option value="A valider">A valider</option>
              <option value="Validé">Validé</option>
            </select>
          </div>
          <div class="col-6 font-weight-bold font-14 d-flex" *ngIf="!((user$|async)?.roles?.includes(roles.admin))">
            <button class="col-6 btn btn-info w-40 mb-2 mr-4 d-flex align-items-center justify-content-center" (click)="search()" style="margin-top: 16px;margin-bottom: 0 !important;">
              <span>{{'Atraiter.Rechercher'|translate}}</span>
            </button>
            <button class="col-6 btn btn-info w-40 mb-2 d-flex align-items-center justify-content-center" (click)="resetSearch()" style="margin-top: 16px;margin-bottom: 0 !important;">
              <span>{{'Atraiter.Réinitialiser'|translate}}</span>
            </button>
          </div>
          <div class="col-6 font-demiBold" *ngIf="(user$|async)?.roles?.includes(roles.admin)">{{'Atraiter.Zone'|translate}} :
            <select class="form-control" style="border: solid 1px lightgrey" formControlName="areaId">
              <option style='display: none' value=''></option>
              <option *ngFor="let area of areas$|async" value="{{area.id}}">
                {{area.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row align-items-center light-grey mb-20" *ngIf="(user$|async)?.roles?.includes(roles.admin)">
          <div class="col-6 font-demiBold">{{'Atraiter.Entité'|translate}} :
            <select
              [attr.disabled]="entityToken ? true : null"
              class="form-control" style="border: solid 1px lightgrey"
              formControlName="entityId">
              <option style='display: none' value=''></option>
              <option *ngFor="let entity of entities$|async" value="{{entity.id}}">
                {{entity.name}}
              </option>
            </select>
          </div>
          <div class="col-6 font-demiBold">{{'Atraiter.Responsable'|translate}} :
            <select
              [attr.disabled]="((user$|async)?.roles?.includes(roles.admin) || (user$|async)?.roles?.includes(roles.manager)) ? null : 1"
              class="form-control"
              style="border: solid 1px lightgrey"
              formControlName="responsible">
              <option style='display: none' value=''></option>
              <option *ngFor="let creator of creators$|async" value="{{creator.id}}">
                {{creator.name !== ' ' ? creator.name : creator.email}}
              </option>
            </select>
          </div>
        </div>
        <div class="row align-items-center light-grey mb-20" *ngIf="(user$|async)?.roles?.includes(roles.admin)">
          <div class="col-6 font-weight-bold font-14 d-flex"></div>
          <div class="col-6 font-weight-bold font-14 d-flex">
            <button class="col-6 btn btn-info w-40 mb-2 mr-4 d-flex align-items-center justify-content-center" (click)="search()" style="margin-top: 16px;margin-bottom: 0 !important;">
              <span>{{'Atraiter.Rechercher'|translate}}</span>
            </button>
            <button class="col-6 btn btn-info w-40 mb-2 d-flex align-items-center justify-content-center" (click)="resetSearch()" style="margin-top: 16px;margin-bottom: 0 !important;">
              <span>{{'Atraiter.Réinitialiser'|translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="(correction$|async)?.length >= 0" class="row">
    <div *ngIf="(status === 'A traiter')" [ngPlural]="countCorrection$|async" class="total">
      <ng-template ngPluralCase="=0"><strong>{{'Atraiter.AucuneactionTraiter'|translate}}</strong></ng-template>
      <ng-template ngPluralCase="=1"><strong>1 </strong>{{('Atraiter.ActionsATraiter'|translate:{value:''}).toLowerCase() }}</ng-template>
      <ng-template ngPluralCase="other">
        <strong>{{ countCorrection$|async }}</strong> {{('Atraiter.ActionsATraiter'|translate:{value:'s'}).toLowerCase() }}
      </ng-template>
    </div>
    <div *ngIf="(status === 'A valider')" [ngPlural]="countCorrection$|async" class="total">
      <ng-template ngPluralCase="=0"><strong>{{'Atraiter.AucuneactionTraiter'|translate}}</strong></ng-template>
      <ng-template ngPluralCase="=1"><strong>1 </strong>{{('Atraiter.ActionsAValider'|translate:{value:''}).toLowerCase() }}</ng-template>
      <ng-template ngPluralCase="other">
        <strong>{{ countCorrection$|async }}</strong> {{('Atraiter.ActionsAValider'|translate:{value:'s'}).toLowerCase() }}
      </ng-template>
    </div>
    <div *ngIf="(status === 'Validé')" [ngPlural]="countCorrection$|async" class="total">
      <ng-template ngPluralCase="=0"><strong>{{'Atraiter.AucuneactionTraiter'|translate}}</strong></ng-template>
      <ng-template ngPluralCase="=1"><strong>1 </strong>{{('Atraiter.ActionsValidées'|translate:{value:''}).toLowerCase() }}</ng-template>
      <ng-template ngPluralCase="other">
        <strong>{{ countCorrection$|async }}</strong> {{('Atraiter.ActionsValidées'|translate:{value:'s'}).toLowerCase() }}
      </ng-template>
    </div>
    <div *ngIf="!status" [ngPlural]="countCorrection$|async" class="total">
      <ng-template ngPluralCase="=0">{{'Atraiter.AucuneactionTraiter'|translate}}</ng-template>
      <ng-template ngPluralCase="=1">1 {{('Atraiter.Actions'|translate:{value:''}).toLowerCase() }}</ng-template>
      <ng-template ngPluralCase="other">
        <strong>{{ countCorrection$|async }}</strong> {{('Atraiter.Actions'|translate:{value:'s'}).toLowerCase() }}
      </ng-template>
    </div>
    <app-a-traiter-element
        *ngFor="let correction of (correction$|async)"
        [isDesktop]="isDesktop"
        [resultId]="correction.result_id"
        [correctionId]="correction.id"
        [routerLink]="['/atraiter',correction.id]"
        style="display: block; width: 100%; cursor: pointer;"
    ></app-a-traiter-element>
  </div>
</div>
