<div *ngIf="(result$|async) === null || (resultSurvey$|async) === null"  class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="(result$|async) && (resultSurvey$|async) && (selectedCategory$|async) === null" class="container mb-90">
    <div class="container-content">
        <div class="font-bold font-25">
            DR {{(resultArea$|async).name|uppercase}}
        </div>
        <div class="form-row">
            <div class="ml-3 mt-3 col-md-6">
                <span class="font-12">Agence</span>
                <div><span>{{(resultEntity$|async)?.name}}</span></div>
            </div>
            <div class="ml-3 my-2 col-md-6">
                <span class="font-12">Lieu du chantier</span>
                <div><span>{{(result$|async).resultPlace}}</span></div>
            </div>
        </div>
        <div class="form-row">
            <div class="ml-3 my-2 col-md-6">
                <span class="font-12">Client</span>
                <div><span>{{(result$|async).resultClient}}</span></div>
            </div>
            <div class="ml-3 mt-2 mb-3 col-md-6">
                <span class="font-12">Date de la visite<span class="light-grey">(jour, mois, année)</span></span>
                <div><span>{{(result$|async).resultDate}}</span></div>
            </div>
        </div>
        <p class="font-medium font-22">Équipe contrôlée</p>
        <p class="group-control-subtitle-text">Personnel présent sur le chantier</p>
        <app-detail-member
                *ngFor="let member of (result$|async).resultTeamMember"
                [teamMember]="member"
        ></app-detail-member>
        <div class="mx-30">
            <button class="btn btn-info d-block w-100 mt-5" (click)="nextResult()">Suivant</button>
        </div>
    </div>
</div>
<div
    *ngIf="(result$|async) && (resultSurvey$|async) && (selectedCategory$|async) && showCategories"
    class="container mb-90">
    <div class="row" *ngIf="showCategories">
        <app-details-question
            *ngFor="let question of (selectedQuestions$|async)"
            [question]="question.question"
            [resultId]="thisResultId"
        ></app-details-question>
    </div>
</div>
<div class="fixed-footer">
    <div class="footer-btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
         aria-controls="collapseBasic">
        <div class=""><span class="font-bold"></span></div>
        <div class="d-flex align-items-center">
            <div class="mr-2"><span class="font-bold">Visite</span></div>
            <svg class="scroll-top" xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6">
                <path fill="#3884A5" fill-rule="evenodd" d="M11 1.238L5.5 6 0 1.134 1.377 0 5.5 4.075 9.467 0z"></path>
            </svg>
        </div>
    </div>
    <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
        <div
            *ngFor="let category of (resultSurvey$|async)?.surveyCategories"
            class="d-flex align-items-center justify-content-between"
            (click)="selectResult(category.surveyCategoryId)"
        >
            <span class="note-label">{{category.surveyCategoryTitleTranslation.surveyCategoryTranslatableTitle}}</span>
        </div>
    </div>
    <div class="overlay-collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
         aria-controls="collapseBasic"></div>
</div>
