<div class="container mb-90">
    <div *ngIf="(history$|async) === null" class="row">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="userResult.length >= 0" class="row">
        <div *ngIf="userResult.length" [ngPlural]="userResult.length" class="total">
            <ng-template ngPluralCase="=0">Aucun contrôle trouvé</ng-template>
            <ng-template ngPluralCase="=1">1 contrôle trouvé</ng-template>
            <ng-template ngPluralCase="other">
                <strong>{{ userResult.length }}</strong> contrôles trouvés
            </ng-template>
        </div>
        <app-history-item
            *ngFor="let result of userResult"
            [result]="result"
            [routerLink]="['/history',result.resultId]"
            style="display: block; width: 100%;"
        ></app-history-item>
    </div>
</div>
