<<<<<<< HEAD
<<<<<<< 66eb0eb54392c6744a9428fdcb238877a0765c66
div.container{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #dfdfdf;
  overflow: hidden;
  div.container-toolbar{

    mat-toolbar{
      background: #dfdfdf;
      position: absolute;
      height: 60px;
      mat-icon{
        position: absolute;
      }

      #menu-title-img{
        height: 30px;
        width: 111px;
        position: absolute;
        left: 50%;
        margin-left: -55px;
      }
    }
  }

  div.container-list{
    background: #dfdfdf;
    position: absolute;
    //margin-top: 15%;
    //padding-top:30%;
    height: 91%;
    width: 100%;
    bottom: 0;

    mat-list{
      .menu-list-item{
        padding-top: 20px;
      }
      .menu-list-avatar{
        height: 25px;
        width: 25px;
        margin-bottom: 5px;
      }
      .menu-list-content{
        padding-left: 35px;
        font-size: 25px;
        font-family: AvenirNext, sans-serif;
      }
    }
  }
=======
// div.container{
//   background: #dfdfdf;
//   overflow: hidden;
//   div.container-toolbar{

//     mat-toolbar{
//       background: #dfdfdf;
//       position: absolute;
//       height: 100px;
//       mat-icon{
//       }

//       #menu-title-img{
//         height: 30px;
//         width: 70px;
//         position: absolute;
//         left: 50%;
//         margin-left: -35px;
//       }
//     }
//   }

//   div.container-list{
//     background: #dcdcdc;
//     position: absolute;
//     //margin-top: 15%;
//     //padding-top:30%;
//     height: 90%;
//     width: 100%;
//     bottom: 0;

//     mat-list{
//       .menu-list-item{
//         padding-top: 20px;
//       }
//       .menu-list-avatar{
//         height: 30px;
//         width: 30px;
//       }
//       .menu-list-content{
//         padding-left: 35px;
//         font-size: 25px;
//         font-family: AvenirNext, sans-serif;
//       }
//     }
//   }
>>>>>>> organisation SCSS

//   div.container-menu-down-content{
//     position: absolute;
//     bottom: 5%;
//     height: 25%;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;

<<<<<<< 66eb0eb54392c6744a9428fdcb238877a0765c66
    .menu-down-btn{
      position: absolute;
      margin-left: 5%;
      height: 35%;
      width: 90%;
      text-align: center;
    }
    .menu-down-btn-text{
      font-size: 20px;
      color: white;
      font-family: AvenirNext, sans-serif;
    }
    .menu-down-btn-avatar{
      height: 25px;
      width: 25px;
      color: white;
      padding-right: 15px;
    }
    #menu-down-btn-1{
      background: #01579b;
      margin-top: 20px;
=======
=======
// div.container{
//   background: #dfdfdf;
//   overflow: hidden;
//   div.container-toolbar{

//     mat-toolbar{
//       background: #dfdfdf;
//       position: absolute;
//       height: 100px;
//       mat-icon{
//       }

//       #menu-title-img{
//         height: 30px;
//         width: 70px;
//         position: absolute;
//         left: 50%;
//         margin-left: -35px;
//       }
//     }
//   }

//   div.container-list{
//     background: #dcdcdc;
//     position: absolute;
//     //margin-top: 15%;
//     //padding-top:30%;
//     height: 90%;
//     width: 100%;
//     bottom: 0;

//     mat-list{
//       .menu-list-item{
//         padding-top: 20px;
//       }
//       .menu-list-avatar{
//         height: 30px;
//         width: 30px;
//       }
//       .menu-list-content{
//         padding-left: 35px;
//         font-size: 25px;
//         font-family: AvenirNext, sans-serif;
//       }
//     }
//   }

//   div.container-menu-down-content{
//     position: absolute;
//     bottom: 5%;
//     height: 25%;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;

>>>>>>> 5648ffd9a27e7f68a7b6553f460a24c21efd4cba
//     .menu-down-btn{
//       position: absolute;
//       margin-left: 5%;
//       height: 35%;
//       width: 90%;
//       text-align: center;
//     }
//     .menu-down-btn-text{
//       font-size: 20px;
//       color: white;
//       font-family: AvenirNext, sans-serif;
//     }
//     .menu-down-btn-avatar{
//       height: 30px;
//       width: 30px;
//       color: white;
//       padding-right: 15px;
//     }
//     #menu-down-btn-1{
//       background: #01579b;
//       margin-top: 20px;
<<<<<<< HEAD
>>>>>>> organisation SCSS
=======
>>>>>>> 5648ffd9a27e7f68a7b6553f460a24c21efd4cba

//     }
//     #menu-down-btn-2{
//       background: #d18200;
//       bottom: 0;
//     }
//   }
// }
