@import '../../../../../node_modules/@angular/material/theming';
div.container{
  background: #f5f5f5;
  overflow: hidden;
  mat-toolbar{
    background: #008ac9;
    position: absolute;
    height: 9%;
    @include mat-elevation(4);
    i{
      color: white;
      font-size: 20px;
    }
    p{
      font-family: AvenirNext, sans-serif;
      padding-left: 20px;
      margin-top: 20px;
      font-weight: bolder;
      font-size: 20px;
      color: white;
    }
  }

  mat-list{
    position: absolute;
    width: 100%;
    height: 89%;
    bottom: 0;
    background: #f5f5f5;
    mat-list-item{
      padding-top: 15px;
      padding-bottom: 15px;
      .tutorial-icons{
        height: 60px;
        width: 60px;
        margin-left: -15px;
      }
      h3{
        font-size: 22px;
        color: #535353;
        font-family: AvenirNext, sans-serif;
        font-weight: bolder;
      }
    }
  }

}
