@import '../../../../../node_modules/@angular/material/theming';
div.container{
  background: #f5f5f5;
  overflow: hidden;
  mat-toolbar{
    background: linear-gradient(to right,#01579b, #4fc3f7);
    position: absolute;
    height: 9%;
    @include mat-elevation(4);
    i{
      color: white;
      font-size: 20px;
    }
    p{
      font-family: Arial, serif;
      padding-left: 20px;
      font-size: 20px;
      color: white;
    }
  }

  mat-list{
    position: absolute;
    width: 100%;
    height: 89%;
    bottom: 0;
    background: #f5f5f5;
    mat-list-item{
      padding-top: 15px;
      padding-bottom: 15px;
      mat-icon{
        background: white;
        color: brown;
        height: 30px;
        width: 30px;
        text-align: center;
      }
      h3{
        font-size: 25px;
        color: #535353;
      }
    }
  }

}
