<div class="container">
  <div class="card card-full-width mb-10 shadow-none">
    <div class="card-body-dangerous px-30 py-2">
      <div class="row">
        <div class="col-3 font-demiBold">
          <div class="">
            <div class="row">
              <div class="font-demiBold dark-light-grey font-14">{{responsible}}</div>
            </div>
            <div class="row">
              <div class="font-demiBold light-grey font-12 mb-20" [ngStyle]="{'margin-bottom': centerType ? '15px' : '0'}">{{date | amParse:'YYYY-MM-DD' | amDateFormat:'DD/MM/YYYY'}}</div>
            </div>
            <div class="row">
              <div class="font-demiBold">{{dangerousTypeName}}</div>
            </div>
          </div>
        </div>
        <div class="col-5 font-14 pl-3 text-justify" *ngIf="photo">{{comment}}</div>
        <div class="col-4 text-right font-12" *ngIf="photo">
          <img class="img-fluid w-100" src="{{imagePATH + photo}}" alt="image not found"/>
        </div>
        <div class="col-9 font-14 pl-3" *ngIf="!photo">{{comment}}</div>
      </div>
    </div>
  </div>
</div>

