<!--{{correction.value|json}}-->
<!--{{thisCorrection|json}}-->
<!--<div *ngIf="!resultQuestion" class="spinner-container">-->
<!--  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <!-- category name, result time, result place -->
    <div class="card card-full-width mb-10 shadow-none" *ngIf="!dangerousId">
      <div class="card-body px-30">
        <div class="row align-items-center light-grey mb-20">
            <div class="col-6 font-demiBold">{{categoryTitle}}</div>
            <div class="col-6 text-right font-12">{{correctionDate| amParse:'YYYY-MM-DD' | amDateFormat:'DD/MM/YYYY'}}</div>
        </div>
        <p class="font-demiBold mb-2">
          {{result ? result.resultPlace : ''}}
        </p>
      </div>
    </div>
    <!-- type of dangerous situation, dangerous situation time -->
    <div class="card card-full-width mb-10 shadow-none" *ngIf="dangerousId">
      <div class="card-body px-30">
        <div class="row align-items-center light-grey">
          <div class="col-6 font-demiBold">{{type$ | async}}</div>
          <div class="col-6 text-right font-12">{{correctionDate| amParse:'YYYY-MM-DD' | amDateFormat:'DD/MM/YYYY'}}</div>
        </div>
      </div>
    </div>
    <!-- question name, question help, result photo, result comment -->
    <div class="card card-full-width mb-10 shadow-none lineH-24px">
      <div class="card-body" *ngIf="!dangerousId">
        <div>{{question ? question.surveyQuestionTranslation.surveyQuestionTranslationLabel : ' '}}
          <div>
            <span class="light-grey font-14 mb-50">{{question ? question.surveyQuestionTranslation.surveyQuestionTranslationHelp : ' '}}</span>
          </div>
        </div>
        <p class="px-10 font-14 mb-30">{{resultQuestion? resultQuestion.resultQuestionResultComment : 'Question commentaire'}}</p>
        <div *ngIf="resultQuestion">
          <div *ngIf="resultQuestion.resultQuestionResultPhoto">
            <div class="spinner-container" *ngIf="imageLoaded">
              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <div *ngIf="resultQuestion">
          <div *ngIf="resultQuestion.resultQuestionResultPhoto">
            <img [hidden]="imageLoaded" (load)="loadingImage()" (error)="error()" src="{{resultQuestion? (imagePath + resultQuestion.resultQuestionResultPhoto) : '../../../../assets/images/img-test-correction.jpg'}}" class="img-fluid w-100" alt="image not found"/>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-full-width mb-10 shadow-none lineH-24px">
      <div class="card-body" *ngIf="dangerousId">
        <div class="mb-25">{{thisCorrection.dangerous_situation_comment}}</div>
        <div *ngIf="thisCorrection">
          <div *ngIf="thisCorrection.dangerous_situation_image">
            <div class="spinner-container" *ngIf="imageLoaded">
              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <div *ngIf="thisCorrection">
          <div *ngIf="thisCorrection.dangerous_situation_image">
            <img [hidden]="imageLoaded" (load)="loadingImage()" (error)="error()" src="{{thisCorrection.dangerous_situation_image ? (imagePathD + thisCorrection.dangerous_situation_image) : '../../../../assets/images/img-test-correction.jpg'}}" class="img-fluid w-100" alt="image not found"/>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-full-width shadow-none">
      <div class="card card-full-width mb-10 shadow-none lineH-24px" *ngIf="thisCorrection.comment_question !== null">
        <!-- element for the history of all the comments -->
        <app-action-corrective-comment-element
          [thisCorrection]="thisCorrection"
        ></app-action-corrective-comment-element>
        <div class="card-body" *ngIf="thisCorrection.image || thisCorrection.dangerous_situation_image">
          <div>
            <div class="spinner-container" *ngIf="imageLoaded">
              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
          <div>
            <img
              [hidden]="imageLoaded"
              (error)="error()"
              (load)="loadingImage()"
              [src]="thisCorrection.image? (imagePathAC + thisCorrection.image) : '../../../../assets/images/error.png'"
              class="img-fluid w-100"
              alt="image not found"
              *ngIf="thisCorrection.image"
            />
          </div>
        </div>
        <hr>
      </div>
      <div class="card-body">
        <div class="font-22 font-demiBold" *ngIf="thisCorrection.status === 'A traiter' || (isAdminOrManager && thisCorrection.status === 'A valider')">
          {{'SituationDangereuse.Correctif'|translate}}
        </div>
        <form [formGroup]="correction">
          <!-- textarea for the comment -->
          <div class="form-row" *ngIf="thisCorrection.status === 'A traiter' || (isAdminOrManager && thisCorrection.status === 'A valider')">
            <div class="form-group col-12">
              <textarea appHighlight class="form-control" id="commentaire" rows="3" formControlName="comment" ></textarea>
              <label for="commentaire" class="light-grey font-14">{{ 'SituationDangereuse.Commentaire'|translate }}</label>
              <div class="line"></div>
            </div>
          </div>
          <!-- button for update a photo -->
          <div class="mx-3 mb-25" *ngIf="thisCorrection.status === 'A traiter'">
            <input type="hidden" value="" formControlName="photo">
            <input style="display: none" type="file" accept="image/*" (change)="encode($event)" #uploadImage>
            <button class="btn shadow-01 d-block w-100 d-flex align-items-center justify-content-center"
                    id="photo"
                    [attr.disabled]="disableCommentPhoto ? null : 1"
                    (click)="uploadImage.click()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                <g fill="#363636" fill-rule="evenodd" stroke="#363636">
                  <path d="M2.42 4.549a.71.71 0 0 0-.71.708v10.647a.71.71 0 0 0 .71.709H21.58a.71.71 0 0 0 .71-.71V5.258a.71.71 0 0 0-.71-.708h-4.4a.352.352 0 0 1-.274-.13L14.67 1.71H9.328L7.093 4.42a.355.355 0 0 1-.274.13h-4.4zM21.58 17.322H2.42A1.42 1.42 0 0 1 1 15.904V5.256a1.42 1.42 0 0 1 1.42-1.419h4.232L8.887 1.13a.355.355 0 0 1 .274-.128h5.677c.106 0 .206.046.274.128l2.235 2.71h4.234c.782 0 1.42.636 1.42 1.418v10.646c0 .782-.638 1.42-1.42 1.42z"></path>
                  <path d="M12 5.258a4.618 4.618 0 0 0-4.613 4.613A4.619 4.619 0 0 0 12 14.484a4.618 4.618 0 0 0 4.613-4.613A4.618 4.618 0 0 0 12 5.258m0 9.936a5.33 5.33 0 0 1-5.323-5.323A5.328 5.328 0 0 1 12 4.549a5.327 5.327 0 0 1 5.322 5.322A5.328 5.328 0 0 1 12 15.194M19.807 7.742a.71.71 0 1 1 0-1.42.71.71 0 0 1 0 1.42"></path>
                  <path d="M12 8.097c-.978 0-1.774.796-1.774 1.774s.796 1.774 1.774 1.774 1.774-.796 1.774-1.774S12.978 8.097 12 8.097m0 4.258A2.486 2.486 0 0 1 9.516 9.87 2.486 2.486 0 0 1 12 7.387a2.486 2.486 0 0 1 2.483 2.484A2.486 2.486 0 0 1 12 12.355"></path>
                </g>
              </svg>
              <span class="ml-3">{{'SituationDangereuse.Ajouter une photo'|translate}}</span>
            </button>
          </div>
          <!-- show the photo been uploaded -->
          <div  *ngIf="correction.value.photo?.length > 0" class="image-preview">
            <img
              [hidden]="imageLoaded"
              (error)="error()"
              (load)="loadingImage()"
              src="{{correction.value.photo}}"
              alt="Preview failed"
              style="width: 100%; height: 10%;">
          </div>
          <!-- choose responsible and status -->
          <div class="form-row">
            <div class="form-group col-md-6" *ngIf="isAdminOrManager">
              <label for="user_id">{{'Profil.User_id'|translate}}</label>
              <select class="form-control has-value" appHighlight id="user_id" formControlName="user_id" [attr.disabled]="( isAdminOrManager && actionStatus === 'A traiter' && disableResponsible) ? null : 1">
                <option *ngFor="let user of allUsers$|async" value="{{user.id}}">
                  {{user.firstName}} {{user.lastName}} ({{user.mail}})
                </option>
              </select>
              <div class="line"></div>
            </div>

            <div class="form-group col-md-6">
              <label for="status">{{'Profil.Status'|translate}}</label>
              <select class="form-control has-value" appHighlight id="status" formControlName="status" [attr.disabled]="( isAdminOrManager && actionStatus === 'A valider') ? null : 1">
                <option *ngFor="let stat of status" value="{{stat}}">
                  {{stat|translate}}
                </option>
              </select>
              <div class="line"></div>
            </div>
          </div>

          <div class="spinner-container" *ngIf="imageLoaded">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mx-30 my-45" *ngIf="(thisCorrection.status === 'A traiter' || thisCorrection.status === 'A valider')">
    <button class="btn btn-info d-block w-100" (click)="validForm()">{{'SituationDangereuse.Valider'|translate}}</button>
  </div>
</div>
