.card {
  &.card-full-width {
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius:0;
  }
  &.card-block {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .text-info span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .suppr {
    position: absolute;
    right: 15px;
    top: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
  }
}