@font-face {
  font-family: AvenirNext;
  src: url("../../assets/fonts/AvenirNext-Regular.woff2") format("woff2"),url("../../assets/fonts/AvenirNext-Regular.woff") format("woff");
}
@font-face {
  font-family: AvenirNext-Bold;
  src: url("../../assets/fonts/AvenirNext-Bold.woff2") format("woff2"),url("../../assets/fonts/AvenirNext-Bold.woff") format("woff");
}
@font-face {
  font-family: AvenirNext-UltraLight;
  src: url("../../assets/fonts/AvenirNext-UltraLight.woff2") format("woff2"),url("../../assets/fonts/AvenirNext-UltraLight.woff") format("woff");
}
@font-face {
  font-family: AvenirNext-Medium;
  src: url("../../assets/fonts/AvenirNext-Medium.woff2") format("woff2"),url("../../assets/fonts/AvenirNext-Medium.woff") format("woff");
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: AvenirNext;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  background-color: #f5f5f5;
  color: #363636;
}

strong, .font-bold {
  font-family: AvenirNext-Bold;
}
.font-medium {
  font-family: AvenirNext-Medium;
}
.font-regular {
  font-family: AvenirNext;
}
.font-ultaLight {
  font-family: AvenirNext-UltraLight;
}

.btn {
  height: 55px;
}
.btn-warning, .btn-warning:hover {
  color: #fff;
}
.btn-primary {
  box-shadow: 0 0 10px 0 rgba(56, 132, 165, 0.5);
}
.btn-warning, .shadow-01 {
  box-shadow: 0 0 10px 0 rgba(222, 169, 84, 0.1);
}
app-root, app-login, app-menu {
  height: 100%;
  display: block;
}
.light-grey {
  color: #8a8a8a;
}
.light-font {
  font-family: AvenirNext-UltraLight;
}

.w-60px {
  width: 60px;
}
.w-118px {
  width: 118px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}
.mb-50 {
  margin-bottom: 3.125rem;
}
.mb-30 {
  margin-bottom: 1.875rem;
}

.font-12 {
  @include font-size(12);
}
.font-14 {
  @include font-size(14);
}
.font-24 {
  @include font-size(24);
}
.font-25 {
  @include font-size(25);
}
.font-30 {
  @include font-size(30);
}
.font-weight-600 {
  font-weight: 600;
}
.circle-white {
  @extend .d-inline-flex;
  box-sizing: border-box;
  min-width: 46px;
  height: 46px;
  padding: 5px 11px 0 9px;
  border-radius: 500px;
  vertical-align: middle;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}

.circle-white-icon {
  @extend .d-inline-flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  vertical-align: middle;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}
