<div *ngIf="(survey$|async) === null || (loading$|async)" class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="(survey$|async) && (loading$|async) === false" class="container mb-90">
    <div class="container-content" [ngClass]="{'hide': (selectedCategory$|async) !== null || (isBestPracticeSelected$|async)}">
        <div class="font-bold font-25">
            {{(surveyArea$|async)?.name|uppercase}}
        </div>
        <form [formGroup]="mainForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <select class="form-control" appHighlight id="agenceSelect" formControlName="entity">
                        <option value=""></option>
                        <option
                            *ngFor="let entity of (userEntities$|async)"
                            value="{{entity.id}}"
                        >
                            {{entity.name}}
                        </option>
                    </select>
                    <label for="agenceSelect">Agence</label>
                    <div class="line"></div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" appHighlight id="chantierSelect" formControlName="place">
                    <label for="chantierSelect">Lieu du chantier</label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" appHighlight id="clientSelect" formControlName="client">
                    <label for="clientSelect">Client</label>
                    <div class="line"></div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" bsDatepicker class="form-control" appHighlight id="dateSelect" formControlName="date">
                    <label for="dateSelect">Date de la visite <span
                            class="light-grey">(jour, mois, année)</span></label>
                    <div class="line"></div>
                </div>
            </div>
        </form>
        <div *ngIf="(survey$|async)?.surveyTeam !== teamMode.no">
            <p *ngIf="(survey$|async)?.surveyTeam === teamMode.manager" class="font-medium font-22">Responsable contrôlé</p>
            <p *ngIf="(survey$|async)?.surveyTeam === teamMode.team" class="font-medium font-22">Équipe contrôlée</p>
            <p *ngIf="(survey$|async)?.surveyTeam === teamMode.team" class="group-control-subtitle-text">Personnel présent sur le chantier</p>
            <app-survey-team-member
                *ngFor="let group of teamMembersForms"
                [form]="group"
                [canRemove]="teamMembersForms?.length > 1"
                (removeMember)="removeTeamMember($event)"
            ></app-survey-team-member>
            <div
                *ngIf="(survey$|async)?.surveyTeam === teamMode.team"
                (click)="addTeamMember()"
                class="card-full-width d-flex justify-content-end mr-2 mt-2"
            >
                <div class="circle-white-icon shadow-01 bg-info suppr">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path d="M9 7h6a1 1 0 0 1 0 2H9v6a1 1 0 0 1-2 0V9H1a1 1 0 1 1 0-2h6V1a1 1 0 1 1 2 0v6z"
                              fill="#FFF"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngFor="let category of (survey$|async)?.surveyCategories"
        class="container-content"
        [ngClass]="{'hide': (selectedCategory$|async)?.surveyCategoryId !== category.surveyCategoryId || (isBestPracticeSelected$|async)}"
    >
        <div class="row">
            <div class="card card-full-width mb-10 shadow-none">
                <app-survey-question
                    *ngFor="let questionForm of getQuestionForms(category.surveyCategoryId);"
                    [question]="questionForm.question"
                    [group]="questionForm.group"
                ></app-survey-question>
            </div>
        </div>
    </div>
    <div
        class="container-content"
        [ngClass]="{'hide': !(isBestPracticeSelected$|async)}"
    >
        <div class="row">
            <div class="card card-full-width mb-10 shadow-none">
                <app-survey-best-practice
                    [group]="bestPracticeForm"
                    [survey]="survey$|async"
                ></app-survey-best-practice>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(survey$|async) && (loading$|async) === false" class="container mb-90">
    <app-survey-submit
        [isFormValid]="countTotal() === countValidTotal()"
        [mainForm]="mainForm"
        [teamMembersForms]="teamMembersForms"
        [questionsForms]="questionsForms"
        [bestPracticeForm]="bestPracticeForm"
    ></app-survey-submit>
</div>
<div *ngIf="survey$|async" class="fixed-footer">
    <div class="footer-btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
         aria-controls="collapseBasic">
        <div class=""><span class="font-bold">{{countValidTotal()}}</span>/{{countTotal()}}</div>
        <div class="d-flex align-items-center">
            <div *ngIf="(selectedCategory$|async) === null && !(isBestPracticeSelected$|async)" class="mr-2">
                <span class="font-bold">Visite {{countValidSurveyFields()}}</span>/{{countSurveyFields()}}
            </div>
            <div *ngIf="!(isBestPracticeSelected$|async) && (selectedCategory$|async) as category" class="mr-2">
                <span class="font-bold">{{category.surveyCategoryTitleTranslation.surveyCategoryTranslatableTitle}} {{countValidQuestions(category.surveyCategoryId)}}</span>/{{countQuestions(category.surveyCategoryId)}}
            </div>
            <div *ngIf="(isBestPracticeSelected$|async)" class="mr-2">
                <span class="font-bold">Bonne pratique {{bestPracticeForm.status === 'VALID' ? 1 : 0}}</span>/1
            </div>


            <svg class="scroll-top" xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6">
                <path fill="#3884A5" fill-rule="evenodd" d="M11 1.238L5.5 6 0 1.134 1.377 0 5.5 4.075 9.467 0z"></path>
            </svg>
        </div>
    </div>
    <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
        <div
            class="d-flex align-items-center justify-content-between"
            (click)="selectSurveyCategory(null)"
        >
            <span class="note-label">Visite</span>
            <span [ngClass]="{'text-success': countValidSurveyFields() === countSurveyFields()}" class="note">
                <strong>{{countValidSurveyFields()}}</strong>/{{countSurveyFields()}}
            </span>
        </div>
        <div
            *ngFor="let category of (survey$|async)?.surveyCategories"
            class="d-flex align-items-center justify-content-between"
            (click)="selectSurveyCategory(category.surveyCategoryId)"
        >
            <span class="note-label">{{category.surveyCategoryTitleTranslation.surveyCategoryTranslatableTitle}}</span>
            <span
                [ngClass]="{'text-success': countValidQuestions(category.surveyCategoryId) === countQuestions(category.surveyCategoryId)}"
                class="note"
            >
                <strong>{{countValidQuestions(category.surveyCategoryId) || 0}}</strong>/{{countQuestions(category.surveyCategoryId)}}
            </span>
        </div>
        <div
            class="d-flex align-items-center justify-content-between"
            (click)="selectSurveyCategory(bestPracticeId)"
        >
            <span class="d-flex align-items-center">
              <svg class="flex-shrink-0 mr-2" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                <defs>
                    <filter id="a" width="110.7%" height="106%" x="-5.3%" y="-3%" filterUnits="objectBoundingBox">
                        <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="5"></feGaussianBlur>
                        <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1"
                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <path fill="#E3A300" fill-rule="evenodd"
                      d="M7.246 6.642L10.103.583a.98.98 0 0 1 1.794 0l2.857 6.059 6.39.977c.82.126 1.146 1.18.553 1.785l-4.623 4.713 1.09 6.657c.141.855-.716 1.507-1.45 1.103L11 18.732l-5.714 3.145c-.734.404-1.591-.248-1.45-1.103l1.09-6.657L.303 9.404C-.29 8.8.037 7.744.856 7.62l6.39-.977z"
                      filter="url(#a)" transform=""></path>
              </svg>
              <span class="note-label">Bonne pratique</span>
            </span>
            <span
                class="note"
                [ngClass]="bestPracticeForm.status === 'VALID' ? 'text-success' : 'text-danger'"
            >
                <strong>{{bestPracticeForm.status === 'VALID' ? 1 : 0}}</strong>/1
            </span>
        </div>
    </div>
    <div class="overlay-collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
         aria-controls="collapseBasic"></div>
</div>

