<div class="container d-flex align-items-center justify-content-center">
  <div>
      <img src="../../../../assets/images/login/pwa.png" class="img-fluid" alt="">
      <button class="btn btn-secondary" >connect to group SADE</button>
      <p>external connection</p>
      <div class="container-input-field">
        <label><input type="text" class="username"></label>
        <label><input type="text" class="password"></label>
        <button class="btn btn-primary" routerLink="home">Connect me</button>
      </div>
  </div>
</div>

